.dashboardHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboardContainer {
    margin-top: 1rem;
}

.bookingButton {
    background-color: #24a0ed !important;
    color: white;
    padding: 14px 26px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.bookingButton:hover {
    opacity: 0.9;
}

.room-options-container {
    display: flex;
    justify-content: space-around;
    /* gap: 15px; */
    margin-bottom: 0px;
}

.room-option-card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.room-option-card h3 {
    margin-top: 0;
    color: #333;
}

.room-option-card img {
    margin-top: 1rem;
    max-height: 100%;
    max-width: 100%;
}

.timeslot-container {
    padding: 10px;
    background: #eef2f7;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid black;
    border-top: 0;
}

.room-option-card:not(:active) {
    border-bottom: 1px solid black;
}

.room-options-container>.active {
    background: #eef2f7;
    border: 1px solid black;
    border-bottom: 0;
}


.timeslot-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}

.timeslot {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
}

.timeslot .time {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.timeslot.available {
    background-color: #e6ffe6;
    border: 1px solid #38a169;
    color: #38a169;
}

.timeslot.booked {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #999;
}

.dateContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 0;
}

.dateContainer .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
}