.dashboardHeader{
    display: flex;
    justify-content: space-between;
}

.room-options-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 0px;
}

.room-option-card {
    flex: 1;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.room-option-card h3 {
    margin-top: 0;
    color: #333;
}

/* Styling untuk timeslot-container */
.timeslot-container {
    /* padding: 20px; */
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.timeslot-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.timeslot {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
}

.timeslot .time {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.timeslot.available {
    background-color: #e6ffe6;
    border: 1px solid #38a169;
    color: #38a169;
}

.timeslot.booked {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #999;
}